<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
  <div class="main">
    <div class="header">
      <a href="/">
        <img src="/public/img/logo3.png" alt="" width="200px">
      </a>
      <br><br>
      <h1>用户注册</h1>
      <br>
    </div>
    <form id="register_form">
      <div class="form-group">
        <label for="email">邮箱</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" autofocus>
      </div>
      <div class="form-group">
        <label for="nickname">昵称</label>
        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Nickname">
      </div>
      <div class="form-group">
        <label for="password">密码</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-success btn-block">注册</button>
    </form>
    <div class="message">
      <p>已有账号? <a href="/login">点击登录</a>.</p>
    </div>
  </div>
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script>
    $('#register_form').on('submit', e => {
      e.preventDefault()
      if($("#password").val().length < 6){
        window.alert("密码必须不少于6位字符！")
        return false
      }
      const formData = $('#register_form').serialize()
      $.ajax({
        url: '/register',
        type: 'post',
        data: formData,
        dataType: 'json',
        success: data => {
          const err_code = data.err_code
          if(err_code === 0){
            window.alert('注册成功！')
            window.location.href = '/'
          } else if(err_code === 1){
            window.alert('邮箱已存在！')
          } else if(err_code === 500){
            window.alert("服务器忙，请稍后重试！")
          }
        }
      })
    })
  </script>
</body>

</html>
